<% content_for :title, "Editing item" %>

<div class="card" style="max-width: 600px;">
  <h1>Edit Item</h1>
  <%= render "form", item: @item %>
</div>

<div class="mt-2">
  <%= link_to "View Item", @item, class: "btn btn-outline" %>
  <%= link_to "Back to Items", items_path, class: "btn btn-outline" %>
</div>
